<section class="articles">
  <!-- <h2>最新の記事</h2> -->
  <!-- start of article -->
  <% @contents.each do |content| %>
    <article>
      <div class="article-title">
        <div class="page-header">
          <h3><%= content.title %></h3>
          <span><%= content.author %></span>
        </div>
      </div>
      <div class="article-body">
        <%= simple_format(content.body) %>
      </div>
      <%= link_to '関連記事を表示',entry_path(content),{:class => "btn btn-default"}  %>
    </article>
  <% end %>

</section>
<!-- end of articles -->
<div class="text-center">
  <%= paginate @contents %>
</div>
<!-- end of paganetion -->

