    <section class="articles">
       <div class="page-header">
          <h2><%= params[:category] %></h2>
        </div>
      <!-- start of article -->
       <%= page_entries_info @contents %>

      <% @contents.each do |content| %>
      <article>
        <div class="article-title">
          <h3><%= content.title %></h3>
          <span><%= content.author %></span>
        </div>
        <div class="article-body">
          <%= simple_format(content.summary) %>
        </div>
        <%= link_to '関連記事を表示',entry_path(content),{:class => "btn btn-default"}  %>
      </article>
      <% end %>

    </section>
    <!-- end of articles -->
    <div class="text-center">
      <%= paginate @contents %>
    </div>
    <!-- end of paganetion -->

