<section class="articles">
  <!-- start of article -->
  <article>
    <div class="article-title">
      <div class="page-header">
        <h3><%= @content.title %></h3>
        <span><%= @content.author %></span>
      </div>
    </div>
    <div class="article-body">
      <%= simple_format(@content.summary) =%>
      <%= link_to '詳しくみる',@content.url,{:class => "btn btn-default",:target=>["_blank"]} %>

    </div>
  </article>
  
  <!-- end of articles -->
</section>

<section class="related-article">
  <% @relatedArticles.each do |content| %>
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= content.title %></h3>
            <p><%= content.author %></p>
            <div class="article-body">
              <%= simple_format(content.summary) %>
            </div>
            <span class="label label-success" hidden>肯定</span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>



