<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>NewStyle</title>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>


    <div class="container-fluid" id="wrapper">
      <div class="row">

        <header class="header">
          <div class="container">
            <nav class="navbar navbar-default">
              <div class="navbar-header">
                <button class="navbar-toggle" data-target="#navbar" data-toggle="collapse" type="button">
                  <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand " href="/">NewStyle</a>
              </div>
              <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                  <li><%= link_to 'ニュース','/category/news' =%></li>
                  <li><%= link_to 'エンタメ','/category/entertainment' =%></li>
                  <li><%= link_to 'スポーツ','/category/sport' =%></li>
                  <!--<li><%= link_to 'ライフスタイル','/category/lifestyle' =%></li>-->
                  <li><%= link_to 'IT','/category/technology' =%></li>
                  <!--<li><%= link_to 'グルメ','/category/gourmet' =%></li> 
                  <li><%= link_to '旅行','/category/travel' =%></li> -->
                  <li><%= link_to 'ゲーム','/category/game' =%></li>
                  <!--<li><%= link_to 'アニメ','/category/anime' =%></li>-->
                </ul>
                <form action="/search" method="get" class="navbar-form navbar-right" >
                  <div class="form-group">
                    <input class="form-control" placeholder="キーワードを入力" name="query" type="text">
                  </div><button class="btn btn-default" type="submit">検索</button>
                </form>
              </div>
            </nav>
          </div>
        </header>
        <div id="contents" class="container">

          <div id="main" class=" col-xs-12 col-md-8 col-lg-8">
            <%= yield %>


          </div>
          <!-- end of main -->
          <!-- start of sidebar -->
          <nav class=" sidebar col-xs-12 col-md-4 col-lg-4 ">

            <div class="list-group">
              <div class="banner">
                <h4><span class="glyphicon glyphicon-tag" style="width:30px; height:30px;" aria-hidden="true"></span>タグ検索</h4>
              </div>

              <section>
              <h4>最新</h4>
<ul>
<li><a href="/entry/6">その後、ファンクラブ会員を対象にした通常チケット の受付が10月17日から10月24日まで行われ、10月25日よりオフィシャルサイト からの抽選先行受付が開始。</a></li>
<li><a href="/entry/5">ポン様が「殿、ご乱心」になっている件 - Market Hack</a></li>
<li><a href="/entry/4">平成28年10月8日 平成２８年台風第１０号等による被災状況視察のための岩手訪問 | 平成28年 | 総理の一日 | 総理大臣 | 首相官邸ホームページ</a></li>
<li><a href="/entry/2">香港「若1手論客」インタビュー：立法会選挙「本土派」台頭の衝撃と「香港独立」論の未来</a></li>
<li><a href="/entry/1">原付バイクに“３人乗り” 無免許の中学生３人重体 滋賀・湖南市</a></li>
</ul> 



              
              </section>


            <section>
<h4>おすすめ</h4>
<ul>
<li><a href="/entry/5">ポン様が「殿、ご乱心」になっている件 - Market Hack</a></li>
<li><a href="/entry/4">平成28年10月8日 平成２８年台風第１０号等による被災状況視察のための岩手訪問 | 平成28年 | 総理の一日 | 総理大臣 | 首相官邸ホームページ</a></li>
<li><a href="/entry/2">香港「若1手論客」インタビュー：立法会選挙「本土派」台頭の衝撃と「香港独立」論の未来</a></li>
<li><a href="/entry/1">原付バイクに“３人乗り” 無免許の中学生３人重体 滋賀・湖南市</a></li>
</ul> 



            </div>
          </nav>


        </div>
        <!-- end of row -->
      </div>
    </div>
    <!-- end of warraper -->

  </body>
</html>
